absl-py==1.4.0
accelerate==0.23.0
adal==1.2.7
adaptkeybert==0.0.2
aiohttp==3.8.3
aiosignal==1.3.1
albumentations==1.3.1
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.0.0
asgiref==3.5.0
astroid==2.14.2
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
autophrasex==0.3.1
azure-ai-textanalytics==5.2.1
azure-cognitiveservices-language-textanalytics==0.2.1
azure-common==1.1.28
azure-core==1.26.3
azure-cosmos==4.3.0
azure-graphrbac==0.61.1
azure-mgmt-authorization==3.0.0
azure-mgmt-containerregistry==10.1.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.1.0
azure-mgmt-resource==21.2.1
azure-mgmt-storage==20.1.0
Babel==2.13.1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.0.1
beautifulsoup4==4.9.3
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
boto3==1.28.63
botocore==1.31.63
boxsdk==2.12.0
bpemb==0.3.4
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.10
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
confection==0.1.4
configparser==5.3.0
conllu==4.5.3
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.1.0
coreapi==2.3.3
coreschema==0.0.4
crayons==0.4.0
cryptography==39.0.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.8
datasets==2.14.7
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
Django==3.2.3
django-background-tasks==1.2.5
django-compat==1.0.15
django-cors-headers==3.7.0
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
dnspython==2.2.1
docker==6.0.1
docker-pycreds==0.4.0
docutils==0.19
EasyProcess==1.1
elastic-transport==8.4.0
elasticsearch==7.12.1
elasticsearch-dsl==7.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.1.3
executing==2.0.1
fake-useragent==1.1.3
fastapi==0.75.1
fastapi-featureflags==0.4.6
fastapi-utils==0.2.1
fastjsonschema==2.18.1
feedparser==6.0.10
filelock==3.12.4
flair==0.12.2
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.2
ftfy==6.1.1
future==0.18.3
gast==0.5.4
gdown==4.4.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gradescope-utils==0.5.0
greenlet==1.1.2
grpcio==1.57.0
h11==0.13.0
h2==3.2.0
h5py==3.10.0
hpack==3.0.0
httplib2==0.22.0
huggingface-hub==0.17.3
humanfriendly==10.0
hyperframe==5.2.0
hyperlink==21.0.0
hyperopt==0.2.7
idna==3.3
imageio==2.31.5
importlib-metadata==6.5.0
incremental==22.10.0
iniconfig==2.0.0
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.0.6
itsdangerous==2.2.0
itypes==1.2.0
Janome==0.5.0
jedi==0.19.1
jeepney==0.8.0
jellyfish==1.0.3
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpickle==2.2.0
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kaggle==1.5.16
keras==2.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keybert==0.8.4
keyphrasetransformer==0.0.2
kiwisolver==1.4.5
knack==0.10.1
langcodes==3.3.0
langdetect==1.0.9
lazy-object-proxy==1.4.1
lazy_loader==0.3
libclang==16.0.6
lxml==4.9.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
more-itertools==10.1.0
mpld3==0.3
mpmath==1.3.0
ms-identity-web @ git+https://github.com/azure-samples/ms-identity-python-utilities@9b32cef36c6c0b73c1b3237fdd66128d89f90a62
msal==1.21.0
msal-extensions==1.0.0
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
naive-stopwords==0.0.2
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
ndg-httpsclient==0.5.1
nest-asyncio==1.5.8
networkx==3.1
nltk==3.7
nose==1.3.7
notebook_shim==0.2.3
numpy==1.26.2
oauthlib==3.2.2
onnx==1.16.0
OpenCC==0.2
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
opt-einsum==3.3.0
optimum==1.19.0
outcome==1.2.0
overrides==7.4.0
packaging==23.2
pandas==1.4.0
pandocfilters==1.5.0
paramiko==2.12.0
parse==1.19.0
parsel==1.8.1
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
Pillow==9.5.0
pke @ git+https://github.com/boudinfl/pke.git@69871ffdb720b83df23684fea53ec8776fd87e63
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.3.0
portalocker==2.7.0
pptree==3.1
preshed==3.0.9
priority==1.3.0
prometheus-client==0.18.0
prompt-toolkit==3.0.39
Protego==0.2.1
protobuf==4.22.3
psutil==5.9.6
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==16.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pydantic==1.9.0
PyDispatcher==2.0.7
pyee==8.2.2
pygame==2.5.0
Pygments==2.16.1
PyJWT==2.6.0
pylint==2.16.2
pymongo==4.0.2
PyNaCl==1.5.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPDF2==1.26.0
pyppeteer==1.0.2
pyquery==2.0.0
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.20.0
python-json-logger==2.0.7
python-pptx==0.6.19
python-slugify==8.0.1
python3-openid==3.2.0
pytorch_revgrad==0.2.0
pytz==2022.7.1
PyVirtualDisplay==2.2
PyYAML==6.0.1
pyzmq==25.1.1
qudida==0.0.4
queuelib==1.6.2
rake-nltk==1.0.6
referencing==0.30.2
regex==2022.10.31
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.7
s3transfer==0.7.0
safetensors==0.4.0
scikit-image==0.22.0
scikit-learn==1.3.2
scikit-multilearn==0.2.0
scipy==1.10.1
Scrapy==2.5.0
seaborn==0.13.0
SecretStorage==3.3.3
segtok==1.5.11
selenium==4.1.0
Send2Trash==1.8.2
sentence-transformers==2.7.0
sentencepiece==0.1.99
sentry-sdk==1.38.0
service-identity==21.1.0
setproctitle==1.3.3
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==4.4.1
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spherecluster==0.1.7
SQLAlchemy==1.4.34
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.17.1
statistics==1.0.3.5
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow==2.14.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textblob==0.17.1
thinc==8.2.1
threadpoolctl==3.1.0
tifffile==2023.9.26
tika==1.24
tinycss2==1.2.1
tokenizers==0.14.1
tomli==2.0.1
tomlkit==0.11.6
torch==2.1.0
torchsummary==1.5.1
torchvision==0.16.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.13.0
transformer-smaller-training-vocab==0.3.2
transformers==4.34.0
trio==0.22.0
trio-websocket==0.10.2
Twisted==22.10.0
typeguard==2.13.3
typer==0.9.0
types-python-dateutil==2.8.19.14
typing_extensions==4.1.1
Unidecode==1.3.7
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.14
urllib3-secure-extra==0.1.0
uvicorn==0.17.6
w3lib==2.1.1
wandb==0.16.0
wasabi==1.1.2
wcwidth==0.2.9
weasel==0.3.4
webcolors==1.13
webdriver-manager==3.5.2
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==3.0.2
widgetsnbextension==4.0.9
Wikipedia-API==0.6.0
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.5
XlsxWriter==3.1.0
xxhash==3.4.1
yarl==1.8.2
zipp==3.15.0
zope.interface==6.0
