body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    align-items: center;
    width: 350px;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.header h1 {
    font-size: 1.2em;
    margin: 10px 0 10px 0;
}

.header .title {
    display: flex;
    font-size: 1.2em;
    color: #666;
    align-items: center;
}

.header .buttons {
    display: flex;
    align-items: center;
}

.header .buttons button {
    display: flex;
    align-items: center;
}

.header .title img {
    margin-right: 10px;
}

#help {
    margin-right: 5px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 5px 0 5px;
    margin: 10px 2px 0 2px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#links {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#links li {
    margin-bottom: 5px;
}

#links li:not(.no-results):hover {
    transform: scale(1.01);
    background-color: rgba(199, 199, 199, 0.45);
}

/*keyword link*/
.keyword-link:hover {
    text-decoration: underline;
}

a {
    color: #0275d8;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.keyword-link {
    font-size: 1.25em;
}

.no-results {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    transition: none;
    transform: none;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}


.video-card {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    border-radius: 6px;
}

.video-card:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    transform: translateY(-2px);
    cursor: pointer;
}

.video-card h2 {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.video-card:hover h2 {
    text-decoration: underline;
}

.video-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.video-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 5px;
}

.video-channel {
    flex: 1;
    text-align: left;
    text-decoration: none;
}

.video-date {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

.hidden {
    display: none;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toggle-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-button img {
    padding: 2px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
